



<h1>Perseus Web Crawler</h1>
<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Enter Start URL">
  </div>
  <br>
  <br>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Depth First Search
  </label>
</div>
<br>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Breadth First Search
  </label>
</div>
<br>
<br>
<br>
  <button type="submit" class="btn btn-default">Crawl</button>
</form>
