<h4>Input a Valid URL</h4>
<div ng-controller="MainCtrl as ctrl">
    <form class="form-inline" ng-submit="ctrl.submit()" name="urlform">
        <div class="form-group">
            <input type="url" class="form-control" placeholder="Start URL" ng-model="ctrl.entry.url" name="url" size="45">
            <br>
            <span class="error ng-hide" ng-show="urlform.url.$invalid"><p class="bg-primary">A valid url is required.</p></span>
            <span class="error ng-hide" ng-show="!ctrl.entry.url.length && !urlform.url.$pristine"><p class="bg-primary">Please enter something!</p></span>
        </div>
        <br>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="keyword" placeholder="Choose Keyword (Optional)" ng-model="ctrl.entry.keyword" ng-pattern="sample.word" ng-trim="false" size="45">
            <br>
            <span class="error ng-hide" ng-show="urlform.keyword.$error.pattern">
      <p class="bg-primary">Single word only!</p></span>
        </div>
        <br>
        <br>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="MAX number of links" ng-model="ctrl.entry.max">
        </div>
        <br>
        <br>
        <div class="radio">
            <label>
                <input type="radio" ng-model="ctrl.entry.crawloption" id="optionsRadios1" value="depth" checked ng-required="!ctrl.entry.crawloption"> Depth First Search
            </label>
            <br>
            <h4>OR</h4>
            <label>
                <input type="radio" ng-model="ctrl.entry.crawloption" id="optionsRadios2" value="breadth" ng-required="!ctrl.entry.crawloption"> Breadth First Search
            </label>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="urlform.url.$invalid || urlform.url.$pristine || urlform.keyword.$error.pattern" value="submit">Crawl</button>
        <br>
        <br>
    </form>

    <div id="dataContainer" ng-show="entries != null">
    <h4>Previous Search Parameters:</h4>
    <button class="btn btn-warning" ng-click="cookiereset()">Reset Cookies</button>
    <br>
        <table class="table">
            <tr>
                <th>URL:</th>
                <th>Keyword:</th>
                <th>Type:</th>
            </tr>
            <tr ng-repeat="entry in entries">
                <td>{{entry.url}}</td>
                <td>{{entry.keyword}}</td>
                <td>{{entry.type}}</td>
            </tr>
            <tr><td colspan="3"></td></tr>
        </table>

    </div>
</div>
<script>
document.getElementById("home_nav").classList.add("active")
</script>