<html ng-app>

<head>
    <title>PerseusWebapp</title>
    <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Perseus Link Visualizer</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Statistics</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="inner cover">
                    <%= yield %>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Link to <a href="https://github.com/EsotericCoder/perseus-webapp">Github Repository</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>